@*@model BethanysPieShop.ViewModels.HomeViewModel*@
@model IEnumerable<BethanysPieShop.Models.Pie>

@*<h2>@Model.Title</h2>*@
<!DOCTYPE html>

<html>
<head></head>
<body>

<h2> @ViewBag.Title </h2>

@foreach (var pie in Model)
{
  <div>
    <h2> @pie.Name </h2>
    <h3>@pie.Price.ToString("c")</h3>
  </div>
}
</body>
</html>
